/*O que é uma regra css? */
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: white;
    
} 

:root{
    font-size 62.5%;
}
''
body, input, button, textarea{
    font: 400 1.8rem/1 'Nunito', sans-serif;
}

#page-landing{
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    text-align: center;
    min-height: 100vh;
}

.location, h1, .visit p {
    height: 16vh;
}